<ol>
    {{#each result}}
    <li dataid={{dataid}}><img src={{image}} alt="">{{title}} <a href="{{link}}">Link to the article!</a></li><button dataid={{dataid}}>Save Article</button>
    {{/each}}
</ol>